{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "<TYPES>^next",
    "<TYPES>",
    "<TYPES>^[.]",
    "",
    "^react$",
    "^next",
    "<THIRD_PARTY_MODULES>",
    "^(?!.*[.]css$)[./].*$",
    ".css$"
  ],
  "tailwindStylesheet": "app/globals.css",
  "tailwindFunctions": ["cn", "cva"]
}
